*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
/* richiamo la class header */
header{
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
/* contenitore header-logo-nav */
.header-logo-nav{
    height: 80px;
    line-height: 80px;
}

.container{
    width: 80%;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.float-logo{
    float: left;
    width: 20%;
}

.float-logo img{
    vertical-align: middle;
}

nav{
    float: left;
    width: 60%;
    text-align: center;
}

li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
/* richiamo alle classi a  */
a{
    text-decoration: none;
    color: white;
}
.enter{
    float:left;
    width: 20%;
    text-align: right;
}
/* richiamo button  */
.container .button{
    vertical-align: middle;
}
.button{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}
/* hover */
.button:hover{
    text-decoration: underline;
}

nav a:hover{
    text-decoration: underline;
}

.white:hover, .black:hover{
    text-decoration: underline;
}

/* Contenitore titolo-bottoni */
.header-title{
    height: 420px;
    width: 100%;
    position: relative;
}

.content{
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 50%;
    text-align: center;
}

h1{
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}

p{
    font-size: 20px;
    color:white;
}
/* blocco link */
/* classe principale */

.btn-link{
    margin-top: 30px;
}
/* classe bottone */
.btn{
    text-decoration: none;
    padding: 15px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
/* classe colori */
.white{
    background-color: white;
    color: black;
}

.black{
    background-color: black;
    color: white;
}

/* section float */
.float-item{
    float: left;
    width: 70%;
}    

.float-text{
    float: left;
    width: 20%;
}

.img-item{
   width: 100%;
}
/* titolo */
.h2-black{
    color: black;
    font-size: 30px;
    padding-top: 45px;
    margin-bottom: 30px;
}
/* testo */
.text-black{
    color: black;
    font-size: 20px;
}
/* regole section */
section{
    height: 700px;
    position: relative;
}

section .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container h2, .p-white{
    text-align: center;
}
.p-white{
    color: black;
}

.container img{
    padding-left: 20px;
}